@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  transition: all .2s linear;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


 header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 header .ad-showcase {
  margin: 1rem 0;
  display: flex;
  max-width: 600px;
  width: 600px;
  height: auto;
  justify-content: space-between;
  border: 3px solid #333;
  padding: 2rem 3rem;
  border-radius: 12px;
}

.wmg-ad-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #777;
  border-radius: 12px;
  cursor: pointer;
  background: rgb(219,218,236);
  background: linear-gradient(122deg, rgba(219,218,236,1) 0%, rgba(241,241,241,1) 90%);
  height: 3rem;
  transition: all .2s linear;
  z-index: 2;
  padding: 0 3rem;
}

.wmg-ad-slot player {
  width: 100%;
}

.wmg-ad-slot:hover {
  transform: translateY(-2px);
  filter: brightness(105%);
}

.wmg-ad-slot:active {
  transform: translateY(0);
}

.wmg-ad-slot i {
  margin-right: 1rem;
  z-index: -3;
}

 .test-page {
   min-height: 100vh;
   overflow-x: hidden;
   display: flex;
   max-width: 70%;
   align-items: flex-start;
   justify-content: center;
   position: relative;
 }

 .test-page .main-content {
   height: 100vh;
   flex: 1;
   display: flex;
   flex-direction: column;
   width: 65%;
   margin-right: 2rem;
   margin-top: 2rem;
 }

 .main-content h3 {
   margin: 0;
   padding: 0;
   text-align: center;
 }

.test-page p {
   text-align: start;
   margin: 1rem auto;
 }

.test-page aside {
   min-width: 300px;
   border: 1px solid #333;
   padding: 1rem 2rem ;
   width: 25%;
   margin-top: 2rem;
   text-align: center;
 }

.test-page aside p{
  text-align: center;
}

.test-page aside .in-banner-video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.test-page aside .aside-top-banner {
   width: 300px;
   height: 250px;
   background-color: #999999;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
 }


.test-page aside .skyscraper {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }
.test-page aside .aside-half-page-banner {
   width: 300px;
   height: 600px;
   background-color:#999999;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 .sticky-bottom-fluid {
   z-index: 5;
   position: fixed;
   bottom: 0;
   height: 180px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   background: rgba(222,222,222, 0.9);
   transition: all .3s linear;
 }

.sticky-top-fluid {
  z-index: 5;
  position: fixed;
  top: 0;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(222,222,222, 0.9);
  transition: all .3s linear;
}

 .hidden-on-scroll {
   opacity: 0;
   visibility: hidden;
   z-index: -5;
   height: 0;
 }

 .recommended-video {
   z-index: 7;
   position: fixed;
   width: 400px;
   heigh:calc(400/1.7)px;
   left: 0;
   bottom:400px;
   transform: translateX(-95%);
   transition: all .4s ease-in;
   display: flex;
 }

 .recommended-render-slot {
   position: absolute;
   top: 0;
   left: 0;
   height: inherit;
   width: inherit;
 }


 .recommended-video.active {
   transform: translateX(0);
 }

 .recommended-video .wmg-ad-slot {
   position: absolute;
   display: flex;
   justify-content: center;
   top:0;
   right: 0;
   transform: translate(50%, 150%) rotate(90deg) scale(0.90);
   padding: 0 1rem;
 }

 .recommended-video .wmg-ad-slot span {
  transform: rotate(-90deg);
   letter-spacing: 10px;
   font-weight: 700;
   text-transform: uppercase;
 }


@media only screen and (max-width: 850px) {

  header {
      max-width: 80%;
      text-align: center;
  }


  main {
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  main aside {
    border: none;
    padding: 0;
  }

  main aside .skyscraper {
    display: none;
  }

  main .main-content {
    margin: 0 auto;
    padding: 1rem 1rem;
    text-align: center;
    width: 100%;
    max-width: 80%;
    height: 100%;
  }

  main .main-content p {
    text-align: center;
  }

  main aside {
    margin: 1rem auto;
    width: 100%;
    max-width: 80%;
  }

  .recommended-video {
    position: fixed;
    width: 280px;
    heigh: calc(280/1.7)px;
    left: 0;
    bottom:350px;
    transform: translateX(-93%);
  }

  .recommended-video .wmg-ad-slot {
    position: absolute;
    display: flex;
    justify-content: center;
    top:0;
    right: 0;
    transform: translate(50%, 82%) rotate(90deg) scale(0.8);
    padding: 0 0.5rem;
  }

  .recommended-video .wmg-ad-slot span {
    transform: rotate(-90deg);
    letter-spacing: 8px;
    font-weight: 500;
    text-transform: uppercase;
  }
}




